#main-page {
  height: 100%;
}
#main-content {
  overflow-y: scroll;
  touch-action: pan-y !important;
  height: 100%;
}

.header {
  display: grid;
  background-color: var(--primary-300);
  height: 6rem;
  align-content: end;
  align-items: center;
  grid-template-columns: 20% 60% 20%;
}

.header-item-height{
  height: 50px;
}

.header-title {
  margin: 0;
  font-size: 34px;
  line-height: 1.2;
  letter-spacing: -0.8px;
  text-transform: uppercase;
  text-align: center;
  color: var(--secondary-100);
}

.header-icon {
  width: 45px;
  filter: drop-shadow(0px 3px 2px rgb(0 0 0 / 0.4));
}

.black-icon-filter {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(73deg)
    brightness(103%) contrast(103%) drop-shadow(0px 3px 2px rgb(0 0 0 / 0.4));
}

.no-text-wrap {
  word-wrap: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#action-bar {
  position: fixed;
  display: flex;
  left: 0;
  justify-content: space-around;
  bottom: 0;
  width: 100%;
  max-width: 1280px;
  height: 4rem;
  background-color: var(--primary-300);
}

.menu-item {
  margin: 0;
  padding-left: 0.5rem;
  font-weight: 500;
  font-size: 2.5rem;
  letter-spacing: -0.8px;
  text-transform: uppercase;
  color: var(--secondary-100);
  border-bottom: 1px solid var(--primary-600);
  width: 100%;
  text-align: start;
}

.menu-item:last-child{
  text-align: center;
  border-bottom: none;
}

.filter-bar-row{
  width: min-content;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.filter-bar-icon{
  height: 1.5rem;
}